# Copy file nay thanh ".env" (cung thu muc) va dien API key that vao.
# Huong dan lay YouTube Data API v3 key:
# https://developers.google.com/youtube/v3/getting-started?hl=vi

YOUTUBE_API_KEY=your_youtube_data_api_v3_key_here
